## Indian Premier League (IPL) Regression Analysis

In [1]:
%%capture
# Due to the configuration of the base Jupter image, the following imports are required for the regressions in the assignment to report the correct metrics

import sys 
!{sys.executable} -m pip uninstall statsmodels --yes 
!{sys.executable} -m pip uninstall numpy --yes
!{sys.executable} -m pip uninstall pandas --yes 
!{sys.executable} -m pip uninstall patsy --yes 
!{sys.executable} -m pip install numpy==1.17
!{sys.executable} -m pip install pandas==1.0
!{sys.executable} -m pip install patsy==0.5.2
!{sys.executable} -m pip install statsmodels==0.11.1

In [2]:
# As usual, we begin by loading the packages we will need

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [37]:
# Now we load the data

IPL=pd.read_excel("Assignment Data/Week 5/IPL (assignment) data.xlsx")

In [38]:
IPL.head()

,year,team,played,won,lost,noresult,points,netrunrate,champions,runnersup,third,fourth,salaries
0,2008,Chennai Super Kings,14,8,6,0,16,-0.192,0,1,0,0,5825000
1,2009,Chennai Super Kings,14,8,5,1,17,0.951,0,0,0,0,6765000
2,2010,Chennai Super Kings,14,7,7,0,14,0.274,1,0,0,0,4890000
3,2011,Chennai Super Kings,14,9,5,0,18,0.443,1,0,0,0,6330000
4,2012,Chennai Super Kings,16,8,7,1,17,0.100,0,1,0,0,7900000

### 2. Create the sum of salaries in each season

In [40]:
IPL['total_salaries'] = IPL.groupby('team')['salaries'].transform('sum')
IPL.groupby('team').head()

'''
transform 在Pandas中是一個非常實用的函數，它常用於以下幾種情境：

1.標準化或歸一化：例如，在每個組內部標準化數據，使得每個組的數據都具有0的均值和1的標準差。
2.填充缺失值：可以在組內使用特定的聚合值填充NA，比如每個組的平均值或中位數。
3.計算組內排名或百分位數：如組內數據相對於組內其他數據的排名或百分位數。
4.廣播組統計：如將組的總和、平均值等廣播回每個組的成員。
5.transform 函數可以直接將操作結果插入到原始的DataFrame中，這樣做的好處是不改變原始數據的結構，同時能夠擴展原始數據的信息。
這與 aggregate 函數所返回的總結結果不同，aggregate 通常會減少數據的維度，只返回每個組的一個聚合值。
'''

,year,team,played,won,lost,noresult,points,netrunrate,champions,runnersup,third,fourth,salaries,total_salaries
0,2008,Chennai Super Kings,14,8,6,0,16,-0.192,0,1,0,0,5825000,74830760
1,2009,Chennai Super Kings,14,8,5,1,17,0.951,0,0,0,0,6765000,74830760
2,2010,Chennai Super Kings,14,7,7,0,14,0.274,1,0,0,0,4890000,74830760
3,2011,Chennai Super Kings,14,9,5,0,18,0.443,1,0,0,0,6330000,74830760
4,2012,Chennai Super Kings,16,8,7,1,17,0.100,0,1,0,0,7900000,74830760
9,2008,Deccan Chargers,14,2,12,0,4,-0.467,0,0,0,0,5885000,28210000
10,2009,Deccan Chargers,14,7,7,0,14,0.203,1,0,0,0,5250000,28210000
11,2010,Deccan Chargers,14,8,6,0,16,-0.297,0,0,0,0,5645000,28210000
12,2011,Deccan Chargers,14,6,8,0,12,0.222,0,0,0,0,5620000,28210000
13,2012,Deccan Chargers,16,4,11,1,9,-0.509,0,0,0,0,5810000,28210000
14,2008,Delhi Daredevils,14,7,6,1,15,0.342,0,0,0,0,4200000,78918542
15,2009,Delhi Daredevils,14,10,4,0,20,0.311,0,0,0,0,2700000,78918542
16,2010,Delhi Daredevils,14,7,7,0,14,0.021,0,0,0,0,2025000,78918542
17,2011,Delhi Daredevils,14,4,9,1,9,-0.448,0,0,0,0,4980000,78918542
18,2012,Delhi Daredevils,16,11,5,0,22,0.617,0,0,1,0,9105000,78918542
25,2016,Gujarat Lions,14,9,5,0,18,-0.374,0,0,1,0,6755167,13261167
26,2017,Gujarat Lions,14,4,10,0,8,-0.412,0,0,0,0,6506000,13261167
27,2008,Kings XI Punjab,14,10,4,0,20,0.509,0,0,0,0,4620000,71923544
28,2009,Kings XI Punjab,14,7,7,0,14,-0.483,0,0,0,0,4845000,71923544
29,2010,Kings XI Punjab,14,4,10,0,8,-0.478,0,0,0,0,4945000,71923544
30,2011,Kings XI Punjab,14,7,7,0,14,-0.051,0,0,0,0,6695000,71923544
31,2012,Kings XI Punjab,16,8,8,0,16,-0.216,0,0,0,0,6095000,71923544
38,2011,Kochi Tuskers Kerala,14,6,8,0,12,-0.214,0,0,0,0,7550000,7550000
39,2008,Kolkata Knight Riders,14,6,7,1,13,-0.147,0,0,0,0,4150000,81832844
40,2009,Kolkata Knight Riders,14,3,10,1,7,-0.789,0,0,0,0,3650000,81832844
41,2010,Kolkata Knight Riders,14,7,7,0,14,-0.341,0,0,0,0,4475000,81832844
42,2011,Kolkata Knight Riders,14,8,6,0,16,0.433,0,0,0,1,8550000,81832844
43,2012,Kolkata Knight Riders,16,10,5,1,21,0.561,1,0,0,0,9150000,81832844
50,2008,Mumbai Indians,14,7,7,0,14,0.570,0,0,0,0,3325000,78105215
51,2009,Mumbai Indians,14,5,8,1,11,0.297,0,0,0,0,3300000,78105215
52,2010,Mumbai Indians,14,10,4,0,20,1.084,0,1,0,0,4125000,78105215
53,2011,Mumbai Indians,14,9,5,0,18,0.040,0,0,1,0,5460000,78105215
54,2012,Mumbai Indians,16,10,6,0,20,-0.100,0,0,0,1,7010000,78105215
61,2011,Pune Warriors India,14,4,9,1,9,-0.134,0,0,0,0,6670000,20450000
62,2012,Pune Warriors India,16,4,12,0,8,-0.551,0,0,0,0,3985000,20450000
63,2013,Pune Warriors India,16,4,12,0,8,-1.006,0,0,0,0,9795000,20450000
64,2008,Rajasthan Royals,14,11,3,0,22,0.632,1,0,0,0,2625000,37322579
65,2009,Rajasthan Royals,14,6,7,1,13,-0.352,0,0,0,0,2100000,37322579
66,2010,Rajasthan Royals,14,6,8,0,12,-0.514,0,0,0,0,1725000,37322579
67,2011,Rajasthan Royals,14,6,7,1,13,-0.691,0,0,0,0,3575000,37322579
68,2012,Rajasthan Royals,16,7,9,0,14,0.201,0,0,0,0,2811250,37322579
73,2016,Rising Pune Supergiants,14,5,9,0,10,0.015,0,0,0,0,9350666,17301332
74,2017,Rising Pune Supergiants,14,9,5,0,18,0.176,0,1,0,0,7950666,17301332
75,2008,Royal Challengers Bangalore,14,4,10,0,8,-1.161,0,0,0,0,3475000,93722177
76,2009,Royal Challengers Bangalore,14,8,6,0,16,-0.191,0,1,0,0,4835000,93722177
77,2010,Royal Challengers Bangalore,14,7,7,0,14,0.219,0,0,1,0,5245000,93722177
78,2011,Royal Challengers Bangalore,14,9,4,1,19,0.326,0,1,0,0,6780000,93722177
79,2012,Royal Challengers Bangalore,16,8,7,1,17,-0.022,0,0,0,0,7840000,93722177
86,2013,Sunrisers Hyderabad,16,10,6,0,20,0.003,0,0,0,1,5775000,50732746
87,2014,Sunrisers Hyderabad,14,6,8,0,12,-0.399,0,0,0,0,9803333,50732746
88,2015,Sunrisers Hyderabad,14,7,7,0,14,-0.239,0,0,0,0,8104667,50732746
89,2016,Sunrisers Hyderabad,14,8,6,0,16,0.245,1,0,0,0,8747666,50732746
90,2017,Sunrisers Hyderabad,14,8,5,1,17,0.599,0,0,0,1,8200500,50732746

### 3. Create a variable for team salary divided by total salaries for that season (relsal).

In [41]:
IPL['season_all_teams_salaries'] = IPL.groupby('year')['salaries'].transform('sum')
IPL.groupby('year').head()

,year,team,played,won,lost,noresult,points,netrunrate,champions,runnersup,third,fourth,salaries,total_salaries,season_all_teams_salaries
0,2008,Chennai Super Kings,14,8,6,0,16,-0.192,0,1,0,0,5825000,74830760,34105000
1,2009,Chennai Super Kings,14,8,5,1,17,0.951,0,0,0,0,6765000,74830760,33445000
2,2010,Chennai Super Kings,14,7,7,0,14,0.274,1,0,0,0,4890000,74830760,33075000
3,2011,Chennai Super Kings,14,9,5,0,18,0.443,1,0,0,0,6330000,74830760,62210000
4,2012,Chennai Super Kings,16,8,7,1,17,0.100,0,1,0,0,7900000,74830760,59706250
5,2013,Chennai Super Kings,16,11,5,0,22,0.530,0,1,0,0,10740000,74830760,81535000
6,2014,Chennai Super Kings,14,9,5,0,18,0.385,0,0,1,0,11279000,74830760,73973332
7,2015,Chennai Super Kings,14,9,5,0,18,0.709,0,1,0,0,9780000,74830760,65242665
8,2018,Chennai Super Kings,14,9,5,0,18,0.253,1,0,0,0,11321760,74830760,84370160
9,2008,Deccan Chargers,14,2,12,0,4,-0.467,0,0,0,0,5885000,28210000,34105000
10,2009,Deccan Chargers,14,7,7,0,14,0.203,1,0,0,0,5250000,28210000,33445000
11,2010,Deccan Chargers,14,8,6,0,16,-0.297,0,0,0,0,5645000,28210000,33075000
12,2011,Deccan Chargers,14,6,8,0,12,0.222,0,0,0,0,5620000,28210000,62210000
13,2012,Deccan Chargers,16,4,11,1,9,-0.509,0,0,0,0,5810000,28210000,59706250
14,2008,Delhi Daredevils,14,7,6,1,15,0.342,0,0,0,0,4200000,78918542,34105000
15,2009,Delhi Daredevils,14,10,4,0,20,0.311,0,0,0,0,2700000,78918542,33445000
16,2010,Delhi Daredevils,14,7,7,0,14,0.021,0,0,0,0,2025000,78918542,33075000
17,2011,Delhi Daredevils,14,4,9,1,9,-0.448,0,0,0,0,4980000,78918542,62210000
18,2012,Delhi Daredevils,16,11,5,0,22,0.617,0,0,1,0,9105000,78918542,59706250
19,2013,Delhi Daredevils,16,3,13,0,6,-0.848,0,0,0,0,9680000,78918542,81535000
20,2014,Delhi Daredevils,14,2,12,0,4,-1.182,0,0,0,0,10492000,78918542,73973332
21,2015,Delhi Daredevils,14,5,8,1,11,-0.049,0,0,0,0,9269999,78918542,65242665
22,2016,Delhi Daredevils,14,7,7,0,14,-0.155,0,0,0,0,8418000,78918542,63483666
23,2017,Delhi Daredevils,14,6,8,0,12,-0.512,0,0,0,0,6473333,78918542,63014833
24,2018,Delhi Daredevils,14,5,9,0,10,-0.222,0,0,0,0,11575210,78918542,84370160
25,2016,Gujarat Lions,14,9,5,0,18,-0.374,0,0,1,0,6755167,13261167,63483666
26,2017,Gujarat Lions,14,4,10,0,8,-0.412,0,0,0,0,6506000,13261167,63014833
27,2008,Kings XI Punjab,14,10,4,0,20,0.509,0,0,0,0,4620000,71923544,34105000
28,2009,Kings XI Punjab,14,7,7,0,14,-0.483,0,0,0,0,4845000,71923544,33445000
29,2010,Kings XI Punjab,14,4,10,0,8,-0.478,0,0,0,0,4945000,71923544,33075000
30,2011,Kings XI Punjab,14,7,7,0,14,-0.051,0,0,0,0,6695000,71923544,62210000
31,2012,Kings XI Punjab,16,8,8,0,16,-0.216,0,0,0,0,6095000,71923544,59706250
32,2013,Kings XI Punjab,16,8,8,0,16,0.226,0,0,0,0,5985000,71923544,81535000
33,2014,Kings XI Punjab,14,11,3,0,22,0.968,0,1,0,0,7135666,71923544,73973332
34,2015,Kings XI Punjab,14,3,11,0,6,-1.436,0,0,0,0,6926666,71923544,65242665
35,2016,Kings XI Punjab,14,4,10,0,8,-0.646,0,0,0,0,6839166,71923544,63483666
36,2017,Kings XI Punjab,14,7,7,0,14,-0.009,0,0,0,0,6040166,71923544,63014833
37,2018,Kings XI Punjab,14,6,8,0,12,-0.502,0,0,0,0,11796880,71923544,84370160
38,2011,Kochi Tuskers Kerala,14,6,8,0,12,-0.214,0,0,0,0,7550000,7550000,62210000
39,2008,Kolkata Knight Riders,14,6,7,1,13,-0.147,0,0,0,0,4150000,81832844,34105000
40,2009,Kolkata Knight Riders,14,3,10,1,7,-0.789,0,0,0,0,3650000,81832844,33445000
41,2010,Kolkata Knight Riders,14,7,7,0,14,-0.341,0,0,0,0,4475000,81832844,33075000
43,2012,Kolkata Knight Riders,16,10,5,1,21,0.561,1,0,0,0,9150000,81832844,59706250
44,2013,Kolkata Knight Riders,16,6,10,0,12,-0.065,0,0,0,0,9750000,81832844,81535000
45,2014,Kolkata Knight Riders,14,9,5,0,18,0.418,1,0,0,0,9126667,81832844,73973332
46,2015,Kolkata Knight Riders,14,7,6,1,15,0.253,0,0,0,0,7162000,81832844,65242665
47,2016,Kolkata Knight Riders,14,8,6,0,16,0.106,0,0,0,1,7518000,81832844,63483666
48,2017,Kolkata Knight Riders,14,8,6,0,16,0.641,0,0,1,0,8238667,81832844,63014833
49,2018,Kolkata Knight Riders,14,8,6,0,16,-0.070,0,0,1,0,10062510,81832844,84370160
55,2013,Mumbai Indians,16,11,5,0,22,0.441,1,0,0,0,12100000,78105215,81535000
56,2014,Mumbai Indians,14,7,7,0,14,0.095,0,0,0,1,9521000,78105215,73973332
57,2015,Mumbai Indians,14,8,6,0,16,-0.043,1,0,0,0,8305000,78105215,65242665
58,2016,Mumbai Indians,14,7,7,0,14,-0.146,0,0,0,0,6518001,78105215,63483666
59,2017,Mumbai Indians,14,10,4,0,20,0.784,1,0,0,0,8601834,78105215,63014833
60,2018,Mumbai Indians,14,6,8,0,12,0.317,0,0,0,0,9839380,78105215,84370160

In [42]:
IPL["relsal"] = IPL["salaries"]/IPL['season_all_teams_salaries']

In [43]:
IPL.head()

,year,team,played,won,lost,noresult,points,netrunrate,champions,runnersup,third,fourth,salaries,total_salaries,season_all_teams_salaries,relsal
0,2008,Chennai Super Kings,14,8,6,0,16,-0.192,0,1,0,0,5825000,74830760,34105000,0.170796
1,2009,Chennai Super Kings,14,8,5,1,17,0.951,0,0,0,0,6765000,74830760,33445000,0.202272
2,2010,Chennai Super Kings,14,7,7,0,14,0.274,1,0,0,0,4890000,74830760,33075000,0.147846
3,2011,Chennai Super Kings,14,9,5,0,18,0.443,1,0,0,0,6330000,74830760,62210000,0.101752
4,2012,Chennai Super Kings,16,8,7,1,17,0.100,0,1,0,0,7900000,74830760,59706250,0.132314

### 4. Create a value for win percentage. Define win percentage as wins divided games with a result (= games played minus games with no result).

In [44]:
IPL["wpc"] = IPL["won"]/IPL['played']

### 5. Create the lagged value of win percentage for each team

In [45]:
IPL["wpc_lagged"] = IPL.groupby("team")["wpc"].shift(1)

### 6. Regress win percentage on:
##### a) Relsal
##### b) Relsal + lagged win percentage
##### c) Relsal + lagged win percentage  + team fixed effects

In [46]:
#a
reg_1 = smf.ols(formula = 'wpc ~ relsal', data = IPL).fit()
print(reg_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    wpc   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                 -0.010
Method:                 Least Squares   F-statistic:                    0.1428
Date:                Wed, 06 Mar 2024   Prob (F-statistic):              0.706
Time:                        08:24:55   Log-Likelihood:                 45.280
No. Observations:                  92   AIC:                            -86.56
Df Residuals:                      90   BIC:                            -81.52
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.4687      0.063      7.461      0.000       0.344       0.593
relsal         0.1923      0.509      0.378      0.706      -0.819       1.203
==============================================================================
Omnibus:                        2.962   Durbin-Watson:                   1.995
Prob(Omnibus):                  0.227   Jarque-Bera (JB):                2.958
Skew:                          -0.410   Prob(JB):                        0.228
Kurtosis:                       2.683   Cond. No.                         33.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [47]:
#b
reg_2 = smf.ols(formula = 'wpc ~ relsal + wpc_lagged', data = IPL).fit()
print(reg_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    wpc   R-squared:                       0.035
Model:                            OLS   Adj. R-squared:                  0.010
Method:                 Least Squares   F-statistic:                     1.374
Date:                Wed, 06 Mar 2024   Prob (F-statistic):              0.259
Time:                        08:24:57   Log-Likelihood:                 43.331
No. Observations:                  79   AIC:                            -80.66
Df Residuals:                      76   BIC:                            -73.55
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.3527      0.086      4.088      0.000       0.181       0.525
relsal         0.6561      0.523      1.255      0.213      -0.385       1.697
wpc_lagged     0.1245      0.108      1.152      0.253      -0.091       0.340
==============================================================================
Omnibus:                        3.120   Durbin-Watson:                   1.832
Prob(Omnibus):                  0.210   Jarque-Bera (JB):                2.878
Skew:                          -0.466   Prob(JB):                        0.237
Kurtosis:                       2.924   Cond. No.                         37.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [48]:
#c
reg_3 = smf.ols(formula = 'wpc ~ relsal + wpc_lagged + C(team)', data = IPL).fit()
print(reg_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    wpc   R-squared:                       0.290
Model:                            OLS   Adj. R-squared:                  0.148
Method:                 Least Squares   F-statistic:                     2.046
Date:                Wed, 06 Mar 2024   Prob (F-statistic):             0.0303
Time:                        08:25:01   Log-Likelihood:                 55.477
No. Observations:                  79   AIC:                            -82.95
Df Residuals:                      65   BIC:                            -49.78
Df Model:                          13
Covariance Type:            nonrobust
==========================================================================================================
                                             coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------
Intercept                                  0.6720      0.138      4.887      0.000       0.397       0.947
C(team)[T.Deccan Chargers]                -0.1830      0.085     -2.160      0.034      -0.352      -0.014
C(team)[T.Delhi Daredevils]               -0.2050      0.069     -2.955      0.004      -0.344      -0.066
C(team)[T.Gujarat Lions]                  -0.3204      0.143     -2.242      0.028      -0.606      -0.035
C(team)[T.Kings XI Punjab]                -0.1677      0.068     -2.451      0.017      -0.304      -0.031
C(team)[T.Kochi Tuskers Kerala]         2.096e-17   6.62e-17      0.317      0.752   -1.11e-16    1.53e-16
C(team)[T.Kolkata Knight Riders]          -0.0997      0.065     -1.529      0.131      -0.230       0.031
C(team)[T.Mumbai Indians]                 -0.0345      0.065     -0.530      0.598      -0.165       0.096
C(team)[T.Pune Warriors India]            -0.3870      0.118     -3.275      0.002      -0.623      -0.151
C(team)[T.Rajasthan Royals]               -0.1403      0.086     -1.632      0.107      -0.312       0.031
C(team)[T.Rising Pune Supergiants]         0.0177      0.144      0.123      0.902      -0.269       0.305
C(team)[T.Royal Challengers Bangalore]    -0.1284      0.064     -1.999      0.050      -0.257    -8.9e-05
C(team)[T.Sunrisers Hyderabad]            -0.0676      0.076     -0.883      0.380      -0.220       0.085
relsal                                    -0.1494      0.691     -0.216      0.829      -1.529       1.230
wpc_lagged                                -0.0786      0.115     -0.683      0.497      -0.308       0.151
==============================================================================
Omnibus:                        2.559   Durbin-Watson:                   2.206
Prob(Omnibus):                  0.278   Jarque-Bera (JB):                1.997
Skew:                          -0.172   Prob(JB):                        0.368
Kurtosis:                       3.699   Cond. No.                     1.00e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.08e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.